# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Server files
./server/node_modules
./server/.env

# client files
# dependencies
./hackathon/node_modules
./hackathon/.pnp
./hackathon/.pnp.js

# testing
./hackathon/coverage

# production
./hackathon/build

# misc
./hackathon/.DS_Store
./hackathon/.env.local
./hackathon/.env.development.local
./hackathon/.env.test.local
./hackathon/.env.production.local

./hackathon/npm-debug.log*
./hackathon/yarn-debug.log*
./hackathon/yarn-error.log*
